[Unit]
Description=Podman via podman-compose
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Environment=PODMAN_USERNS=keep-id
Restart=always
TimeoutStartSec=60
TimeoutStopSec=60
ExecStart=%h/.local/bin/podman-compose up --remove-orphans
ExecStop=%h/.local/bin/podman-compose stop
Type=simple
WorkingDirectory=%h

[Install]
WantedBy=default.target
